body {
    background: #f8f8f8;
}

.border {
    border-radius: 15px;
}

.container {
    width: 1300px;
    margin: auto;
    min-height: 1300px;
}

.text-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.text-content {
    font-size: 19px;
    line-height: 30px;
}


/* HEADER */

.header h1 {
    text-align: center;
    font-size: 76px;
    color: #c4bdc1;
    margin: 90px;
}


/* article */

.article {
    margin: 0 50px 0 50px;
}

.article .article-content {
    min-height: 220px;
    background: #a4e1db;
    padding: 30px 40px;
    margin-bottom: 55px;
}

.article .article-content .article-img {
    min-height: 220px;
    width: 20%;
    float: left;
    background-image: url('../img/none-avatar.jpg');
    background-size: 100% 100%;
}

.article .article-content .article-text {
    width: 70%;
    float: right;
    text-align: justify;
}

.img {
    margin-left: 62px;
    width: 20%;
    height: 226px;
    float: left;
    margin-right: 60px;
}

.content-img {
    font-size: 20px;
    background: #d4d4d4;
    margin: 60px 60px;
}