body {
    background-image: url('../img/background-1.png');
    background-size: 100% 100%;
}

.text-header {
    margin-left: 37%;
    font-size: 60px;
    color: #c4bdc1;
}

.img {
    margin-left: 60px;
    width: 11%;
    height: 138px;
    /* float: left; */
    margin-right: 60px;
}

.border {
    border-radius: 15px;
}

.content-img p {
    font-size: 26px;
    /* margin-left: 59px; */
    /* padding-left: 57px; */
}

.bot {
    margin-left: 60px;
}

.next-top {
    display: flex;
}

.next,
.next-plus {
    margin-left: 60px;
    margin-right: -38px;
    min-height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #b6b3b5
}

.next-plus {
    background-image: url('../img/plus.png')!important;
    background-size: 100% 100%;
}

.img-bot {
    display: flex;
}

.img-bot-one {
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 60px;
    width: 25%;
    height: 322px;
    margin-right: 60px;
}